@import "{wolves:bourbon}/bourbon";

$brand: #2d5b92;

.accounts-ui {
  border: none;
}

.accounts-ui button[type="submit"] {
  background: $brand;
  &:focus,
  &:hover {
    background-color: lighten($brand, 5%);
  }
  &:active {
    background-color: darken($brand, 5%);
  }

}

.chapter-hero {
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  min-height: 240px;
  h1 {
    color: #fff;
    font-size: 40px;
  }
}

.chapter-container {
  .row {
    margin: 0;
  }

  padding-top: 80px;

  h1,h2,h3,h4,h5,h6 {
    color: $brand;
    font-weight: 300;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
    padding-top: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  p, li {
    font-size: 18px;
    line-height: 1.8;
  }
  pre {
    border: 0;
    font-size: 16px;
    padding: 0;
    margin: 50px 0;
  }
  img {
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    display: block;
    max-width: 90%;
    margin: 50px auto;
    &[alt="GitHub logo"] {
      box-shadow: none;
      display: inline;
      margin: 30px auto;
    }
  }
  ol, ul {
    padding-left: 24px;
    li {
      padding-bottom: 16px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 10px;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  .chapter-hero {
    h1 {
      font-size: 32px;
    }
  }
}

.chapter-link-left {
  float: left;
  font-size: 14px;
}

.chapter-link-right {
  float: right;
  font-size: 14px;
}

.chapter-footer {
  height: 100px;
  margin-top: 80px;
  text-align: center;
  background: #f8f8f8;
  padding: 35px 15px 0;
}

.chapter-row {
  padding-top: 60px;
}
